<ion-header translucent>
  <ion-toolbar>
    <ion-title>App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="save()">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">Data</ion-label>
        <ion-datetime name="data" [(ngModel)]="acao.data" display-format="DD/MM/YYYY HH:mm"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">PS</ion-label>
        <ion-row class="mt-5">
          <ion-col align-self-center>
            <ion-input name="ps_time" type="text" [(ngModel)]="acao.ps.time"></ion-input>
          </ion-col>
          <ion-col class="col-6" *ngIf="!acao.ps.running && acao.ps.time == '00:00:000'">
            <ion-button (click)="start('ps')">Começar</ion-button>
          </ion-col>
          <ion-col class="col-6" *ngIf="acao.ps.running">
            <ion-button (click)="stop('ps')">Parar</ion-button>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">CA</ion-label>
        <ion-row class="mt-5">
          <ion-col align-self-center>
            <ion-input name="ca_time" type="text" [(ngModel)]="acao.ca.time"></ion-input>
          </ion-col>
          <ion-col class="col-6" *ngIf="!acao.ca.running && acao.ca.time == '00:00:000'">
            <ion-button (click)="start('ca')">Começar</ion-button>
          </ion-col>
          <ion-col class="col-6" *ngIf="acao.ca.running">
            <ion-button (click)="stop('ca')">Parar</ion-button>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">LD</ion-label>
        <ion-row class="mt-5">
          <ion-col align-self-center>
            <ion-input name="ld_time" type="text" [(ngModel)]="acao.ld.time"></ion-input>
          </ion-col>
          <ion-col class="col-6" *ngIf="!acao.ld.running && acao.ld.time == '00:00:000'">
            <ion-button (click)="start('ld')">Começar</ion-button>
          </ion-col>
          <ion-col class="col-6" *ngIf="acao.ld.running">
            <ion-button (click)="stop('ld')">Parar</ion-button>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">TD</ion-label>
        <ion-row class="mt-5">
          <ion-col align-self-center>
            <ion-input name="td_time" type="text" [(ngModel)]="acao.td.time"></ion-input>
          </ion-col>
          <ion-col class="col-6" *ngIf="!acao.td.running && acao.td.time == '00:00:000'">
            <ion-button (click)="start('td')">Começar</ion-button>
          </ion-col>
          <ion-col class="col-6" *ngIf="acao.td.running">
            <ion-button (click)="stop('td')">Parar</ion-button>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">LE</ion-label>
        <ion-row class="mt-5">
          <ion-col align-self-center>
            <ion-input name="le_time" type="text" [(ngModel)]="acao.le.time"></ion-input>
          </ion-col>
          <ion-col class="col-6" *ngIf="!acao.le.running && acao.le.time == '00:00:000'">
            <ion-button (click)="start('le')">Começar</ion-button>
          </ion-col>
          <ion-col class="col-6" *ngIf="acao.le.running">
            <ion-button (click)="stop('le')">Parar</ion-button>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">TE</ion-label>
        <ion-row class="mt-5">
          <ion-col align-self-center>
            <ion-input name="te_time" type="text" [(ngModel)]="acao.te.time"></ion-input>
          </ion-col>
          <ion-col class="col-6" *ngIf="!acao.te.running && acao.te.time == '00:00:000'">
            <ion-button (click)="start('te')">Começar</ion-button>
          </ion-col>
          <ion-col class="col-6" *ngIf="acao.te.running">
            <ion-button (click)="stop('te')">Parar</ion-button>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">FP</ion-label>
        <ion-row class="mt-5">
          <ion-col align-self-center>
            <ion-input name="fp_time" type="text" [(ngModel)]="acao.fp.time"></ion-input>
          </ion-col>
          <ion-col class="col-6" *ngIf="!acao.fp.running && acao.fp.time == '00:00:000'">
            <ion-button (click)="start('fp')">Começar</ion-button>
          </ion-col>
          <ion-col class="col-6" *ngIf="acao.fp.running">
            <ion-button (click)="stop('fp')">Parar</ion-button>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">PB</ion-label>
        <ion-row class="mt-5">
          <ion-col align-self-center>
            <ion-input name="pb_time" type="text" [(ngModel)]="acao.pb.time"></ion-input>
          </ion-col>
          <ion-col class="col-6" *ngIf="!acao.pb.running && acao.pb.time == '00:00:000'">
            <ion-button (click)="start('pb')">Começar</ion-button>
          </ion-col>
          <ion-col class="col-6" *ngIf="acao.pb.running">
            <ion-button (click)="stop('pb')">Parar</ion-button>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Chegada da tripulação</ion-label>
        <ion-row class="mt-5">
          <ion-col align-self-center>
            <ion-input name="chegada_tripulacao_time" type="text" [(ngModel)]="acao.chegada_tripulacao.time"></ion-input>
          </ion-col>
          <ion-col class="col-6" *ngIf="!acao.chegada_tripulacao.running && acao.chegada_tripulacao.time == '00:00:000'">
            <ion-button (click)="start('chegada_tripulacao')">Começar</ion-button>
          </ion-col>
          <ion-col class="col-6" *ngIf="acao.chegada_tripulacao.running">
            <ion-button (click)="stop('chegada_tripulacao')">Parar</ion-button>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Tripulação assumindo</ion-label>
        <ion-row class="mt-5">
          <ion-col align-self-center>
            <ion-input name="tripulacao_assumindo_time" type="text" [(ngModel)]="acao.tripulacao_assumindo.time"></ion-input>
          </ion-col>
          <ion-col class="col-6" *ngIf="!acao.tripulacao_assumindo.running && acao.tripulacao_assumindo.time == '00:00:000'">
            <ion-button (click)="start('tripulacao_assumindo')">Começar</ion-button>
          </ion-col>
          <ion-col class="col-6" *ngIf="acao.tripulacao_assumindo.running">
            <ion-button (click)="stop('tripulacao_assumindo')">Parar</ion-button>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Responsável</ion-label>
        <ion-input name="responsavel" [(ngModel)]="acao.responsavel" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Troca de Tripulação</ion-label>
        <ion-select name="troca_tripulacao" [(ngModel)]="acao.troca_tripulacao" interface="popover">
          <ion-select-option value="true">Sim</ion-select-option>
          <ion-select-option value="false">Não</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Informações Adicionais</ion-label>
        <ion-textarea name="informacao_adicional" [(ngModel)]="acao.informacao_adicional"></ion-textarea>
      </ion-item>
    </ion-list>
    <div class="ion-padding">
      <ion-button expand="block" type="submit" class="ion-no-margin">Salvar</ion-button>
    </div>
  </form>
</ion-content>
