<ion-header translucent>
  <ion-toolbar>
    <ion-title>TAT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="save()">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">Data</ion-label>
        <ion-datetime name="data" [(ngModel)]="acao.data" display-format="DD/MM/YYYY HH:mm"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">PS</ion-label>
        <ion-row class="mt-5">
          <ion-col align-self-center>
            <ion-input name="ps_time" type="text" [(ngModel)]="acao.ps.time"></ion-input>
          </ion-col>
          <ion-col class="col-6">
            <ion-button (click)="setDate('ps')">Marcar hora</ion-button>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">CA</ion-label>
        <ion-row class="mt-5">
          <ion-col align-self-center>
            <ion-input name="ca_time" type="text" [(ngModel)]="acao.ca.time"></ion-input>
          </ion-col>
          <ion-col class="col-6">
            <ion-button (click)="setDate('ca')">Marcar hora</ion-button>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">LD</ion-label>
        <ion-row class="mt-5">
          <ion-col align-self-center>
            <ion-input name="ld_time" type="text" [(ngModel)]="acao.ld.time"></ion-input>
          </ion-col>
          <ion-col class="col-6">
            <ion-button (click)="setDate('ld')">Marcar hora</ion-button>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">TD</ion-label>
        <ion-row class="mt-5">
          <ion-col align-self-center>
            <ion-input name="td_time" type="text" [(ngModel)]="acao.td.time"></ion-input>
          </ion-col>
          <ion-col class="col-6">
            <ion-button (click)="setDate('td')">Marcar hora</ion-button>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">LE</ion-label>
        <ion-row class="mt-5">
          <ion-col align-self-center>
            <ion-input name="le_time" type="text" [(ngModel)]="acao.le.time"></ion-input>
          </ion-col>
          <ion-col class="col-6">
            <ion-button (click)="setDate('le')">Marcar hora</ion-button>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">TE</ion-label>
        <ion-row class="mt-5">
          <ion-col align-self-center>
            <ion-input name="te_time" type="text" [(ngModel)]="acao.te.time"></ion-input>
          </ion-col>
          <ion-col class="col-6">
            <ion-button (click)="setDate('te')">Marcar hora</ion-button>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">FP</ion-label>
        <ion-row class="mt-5">
          <ion-col align-self-center>
            <ion-input name="fp_time" type="text" [(ngModel)]="acao.fp.time"></ion-input>
          </ion-col>
          <ion-col class="col-6">
            <ion-button (click)="setDate('fp')">Marcar hora</ion-button>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">PB</ion-label>
        <ion-row class="mt-5">
          <ion-col align-self-center>
            <ion-input name="pb_time" type="text" [(ngModel)]="acao.pb.time"></ion-input>
          </ion-col>
          <ion-col class="col-6">
            <ion-button (click)="setDate('pb')">Marcar hora</ion-button>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Chegada da tripulação</ion-label>
        <ion-row class="mt-5">
          <ion-col align-self-center>
            <ion-input name="chegada_tripulacao_time" type="text" [(ngModel)]="acao.chegada_tripulacao.time"></ion-input>
          </ion-col>
          <ion-col class="col-6">
            <ion-button (click)="setDate('chegada_tripulacao')">Marcar hora</ion-button>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Tripulação assumindo</ion-label>
        <ion-row class="mt-5">
          <ion-col align-self-center>
            <ion-input name="tripulacao_assumindo_time" type="text" [(ngModel)]="acao.tripulacao_assumindo.time"></ion-input>
          </ion-col>
          <ion-col class="col-6">
            <ion-button (click)="setDate('tripulacao_assumindo')">Marcar hora</ion-button>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Responsável</ion-label>
        <ion-input name="responsavel" [(ngModel)]="acao.responsavel" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Troca de Tripulação</ion-label>
        <ion-select name="troca_tripulacao" [(ngModel)]="acao.troca_tripulacao" interface="popover">
          <ion-select-option value="true">Sim</ion-select-option>
          <ion-select-option value="false">Não</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Informações Adicionais</ion-label>
        <ion-textarea name="informacao_adicional" [(ngModel)]="acao.informacao_adicional"></ion-textarea>
      </ion-item>
    </ion-list>
    <div class="ion-padding">
      <ion-button expand="block" type="submit" class="ion-no-margin">Salvar</ion-button>
    </div>
  </form>
</ion-content>
