<ion-header translucent>
  <ion-toolbar>
    <ion-title>App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="save()">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">Data</ion-label>
        <ion-datetime [(ngModel)]="acao.data" display-format="DD/MM/YYYY"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>PS</ion-label>
        <ion-grid>
          <ion-row text-center class="mt-5">
            <ion-col class="col-12" *ngIf="!acao.ps.running && acao.ps == blankTime">
              <button class="circle-button circle-button-bg font-md" ion-button (tap)="start()">{{ 'start' | translate }}</button>
            </ion-col>
            <ion-col class="col-12" *ngIf="running">
              <button class="circle-button circle-button-bg circle-button-red font-md" ion-button (tap)="stop()">{{ 'stop' | translate }}</button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Responsável</ion-label>
        <ion-input [(ngModel)]="acao.responsavel" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Troca de Tripulação</ion-label>
        <ion-select [(ngModel)]="acao.troca_tripulacao" interface="popover">
          <ion-select-option value="true">Sim</ion-select-option>
          <ion-select-option value="false">Não</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Informações Adicionais</ion-label>
        <ion-textarea [(ngModel)]="acao.informacao_adicional"></ion-textarea>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
